/* Config */
:root {
    --black-color: black;
    --red-color: red;
    --gray-color: rgb(33, 33, 33);
    --white-color: white;
    --invisible: rgba(255, 253, 253, 0.028);
}

@font-face {
    font-family: Dodgv2ci;
    src: url(fonts/Dodgv2ci.ttf);
}

/* Elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-72deg, var(--gray-color), var(--black-color));
    font-family: Arial, Helvetica, sans-serif;
}

section {
    min-height: 100vh;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    color: var(--red-color);

}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: inherit;
}


/* Classes */

.menu {
    font-family: Dodgv2ci;
    background: linear-gradient(72deg, var(--black-color) 1%, var(--gray-color));
    color: white;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;

}

.menu li {
    display: inline;
    max-width: 1000px;
}

.menu-content {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}


.car-bg {
    background-image: url(../img/thumb2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: Dodgv2ci;
    font-size: 50px;
    color: var(--red-color);
    text-shadow: 1px 10px 10px var(--black-color);
}

h3.logo {
    font-size: 15px;
}

.corpo {
    max-width: 1200px;
    padding: 20px, 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.ultimos-artigos {
    color: var(--white-color);
    font-weight: bold;
    font-family: Dodgv2ci;
    margin-left: 25px;
    padding: 20px;
}

.artigo {
    margin-top: 30px;
    padding: 20px;
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 10px;
}

.campo-busca {
    padding: 20px;
}

.campo-busca button {
    background-color: var(--red-color);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--white-color);
}

.busca-erro {
    display: grid;
    place-items: center;
}

.busca-erro img {
    width: 100px;
    height: auto;
}

.preco {
    font-size: 40px;
}

.comprar {
    background-color: var(--red-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.artigo img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.ler-mais:hover {
    color: var(--red-color);
}

.resumo {
    font-size: 30px;
}

.resumo-home>h2 {
    font-size: 10px;
}

.see-all-articles {
    background-color: var(--black-color);
    color: var(--white-color);
    width: 290px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: Dodgv2ci;
    transition: .5s;
    display: flex;
}


.see-all-articles:hover {
    color: var(--red-color);
}

.mercadoria {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: var(--black-color);
}

.slider-tracker {
    display: flex;
    width: calc(500px * 8);
    animation: scroll 50s linear infinite;
}

.slider-tracker:hover {
    animation-play-state: paused;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 5));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    perspective: 100px;
}

.desc-prod {
    color: var(--white-color);
    font-size: 15px;
}

img {
    width: 100%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}


.slider::before,
.slider::after {
    background: linear-gradient(to right, rgb(28, 28, 28) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    left: 0;
    top: 0;
}

.postagem>h2,
.titulo {
    text-align: center;
}

.escrito-por {
    text-transform: capitalize;
}

.publicado {
    font-style: italic;
}

.redes {
    position: fixed;
    left: 50px;
}

.redes>li {
    display: block;
}

.post-content {
    background-color: var(--white-color);
    color: var(--black-color);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 40px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-content h1 {
    border-bottom: 1px solid var(--gray-color);
}

.img-post-thumb {
    width: 750px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-content h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.post-content h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.nao-disponivel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comentarios-content {
    background-color: var(--white-color);
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    border-radius: 5px;
    padding: 20px 40px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.coment-usuario {
    margin: 10px;
}

.coment-usuario p {
    margin: 10px;
    padding: 5px, 0px;
}

.nome-coment {
    font-weight: bold;
}

.data-coment {
    font-style: italic;
}

.corpo-coment {
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 10px;
}

.comentario-oculto {
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black-color);
}

fieldset {
    border: none;
    margin: 10px;
}

input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin: 8px 0;
    border: 1px solid var(--gray-color);
}

textarea {
    width: 75%;
    resize: none;
    height: 260px;
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.enviar-coment {
    width: 20%;
    height: 30px;
    border-radius: 5px;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    cursor: pointer;
}

.rodape {
    background-color: var(--black-color);
    width: 98, 5%;
    height: auto;
    color: white;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato img {
    height: 50px;
    width: 50px;
    padding: 10px
}

.close-menu {
    display: none;
}

/* Media query*/

@media (max-width: 1130px) {
    .corpo {
        display: flex;
        flex-direction: column;
    }

    .artigo img {
        height: 250px;
        width: auto;
    }

}

@media (max-width: 970px) {
    .redes {
        display: none;
    }

    /*.redes li {
        display: inline;
    }*/

    .img-post-thumb {
        height: 250px;
        width: auto;
    }
}

@media (max-width: 500px) {
    .menu {
        bottom: 0px;
        text-align: center;
        display: none;
    }

    .menu-content {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: space-around;
        position: fixed;
    }

    .menu ul {
        background-color: var(--black-color);
    }

    .post-content {
        padding: 10px;
    }

    .artigo img {
        height: 125px;
        width: auto;
        align-items: center;
    }

    .mercadoria {
        display: none;
    }

    .img-post-thumb {
        height: 200px;
        width: auto;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        background-color: var(--invisible);
        color: var(--red-color);
        font-size: 4.5rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 1rem;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

}