/* Config */
:root {
    --black-color: black;
    --red-color: red;
    --gray-color: rgb(33, 33, 33);
    --white-color: white;
}

@font-face {
    font-family: Dodgv2ci;
    src: url(fonts/Dodgv2ci.ttf);
}

/* Elementos */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-color);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 100vh;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    color: var(--red-color);

}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


/* Classes */

.menu {
    font-family: Dodgv2ci;
    background-color: var(--black-color);
    color: white;
    height: 45px;
    width: 100%;
}

.menu-content {
    display: flex;
    justify-content: space-around;
}

.car-bg {
    background-image: url(../img/thumb.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: Dodgv2ci;
    font-size: 50px;
    color: var(--red-color);
    text-shadow: 1px 10px 10px var(--black-color);
}

.corpo {
    max-width: 1200px;
    padding: 20px, 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.artigo {
    padding: 20px;
    border: 1px solid var(--red-color);
}


.ler-mais:hover {
    color: var(--red-color);
}

.resumo {
    font-size: 30px;
}

.resumo-home>h2 {
    font-size: 10px;
}


.postagem>h2,
.titulo {
    text-align: center;
}

.escrito-por {
    text-transform: capitalize;
}

.publicado {
    font-style: italic;
}


.post-content {
    background-color: white;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 40px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-content h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.post-content h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.nao-disponivel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ultimos-posts {
    color: red;
}

.comentarios {}

.comentarios-content {
    background-color: var(--white-color);
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    border-radius: 5px;
    padding: 20px 40px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}