{% load static %}
<footer class="rodape">
    <h3 class="logo">Dream's garage</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet laboriosam nostrum accusamus dolor eveniet tempore distinctio tempora? Eius amet delectus provident voluptas illum accusantium commodi perferendis ad cupiditate. Incidunt, quia.</p>
    <div class="contato" id="contato">
        <ul>
            <li><img src="{% static 'blog/img/fb.png' %}" alt=""></li>
            <li><img src="{% static 'blog/img/ig.png' %}" alt=""></li>
            <li><img src="{% static 'blog/img/tw.png' %}" alt=""></li>
            <li><img src="{% static 'blog/img/ph.png' %}" alt=""></li>           
        </ul>
    </div>
    <h4> Desenvolvido Por <a style="color:red;" target="_blank" href="https://gustavocruzdev.netlify.app/">Gustavo Cruz</a></h4>
</footer>