{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="{% static 'blog/css/style2.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/img/ico.png' %}" type="image/x-icon">
    
<header>
    <nav class="menu">
          <ul class="menu-content">
                <li><a href="{% url 'home' %}">Dream's garage</a></li>
                <li><a href="{% url 'artigos' %}">Artigos</a></li>
                <li><a href="#">Mercadorias</a></li>
                <li><a href="#contato">Contato</a></li>
          </ul>
    </nav> 
</header>

