{% include '_header.html' %}
<div class="ultimos-artigos">
    <h2>Todos os artigos:</h2>
  </div>
<form method="GET" action="">
  <div class="input-group-prepend">
    <input type="text" class="form-control" placeholder="Pesquisar artigo..." name="search" id="search">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
  </div>
</form>
<main class="corpo">
    {% for post in posts %}
      {% if post.published %}
        <div class="artigo">
          <div>
          <h2><a href="/post/{{post.pk}}">{{ post.title }}</a></h2>
          <a href="/post/{{post.pk}}"><img src="{{post.thumb.url}}"></a>
          {{ post.summary | safe }}
          <p class="ler-mais"><a href="/post/{{post.pk}}">Ler mais...</a></p>
          </div>
        </div>
        {% endif %}
    {% endfor %}
</main>
{% include '_footer.html' %}