{% extends "layout.html" %}
{% load static %}
{% include '_header.html' %}
{% block title %} Artigos | {% endblock title %}
{% block content %}
<div class="ultimos-artigos">
    <h2>Todos os artigos:</h2>
</div>
{% include "_busca.html" %}
<main class="corpo">
    {% for post in posts %}
      {% if post.published %}
        <div class="artigo">
          <div>
          <h2><a href="/post/{{post.pk}}">{{ post.title }}</a></h2>
          <a href="/post/{{post.pk}}"><img src="{{post.thumb.url}}"></a>
          {{ post.summary | safe }}
          <p class="ler-mais"><a href="/post/{{post.pk}}">Ler mais...</a></p>
          </div>
        </div>
        {% endif %}
    {% endfor %}
</main>
{% if not posts %}
    <div class="busca-erro">
        <h2 class="ultimos-artigos">Nenhum artigo encontrado</h2>
        <img src="{% static 'blog/img/erro_busca.png' %}" alt="">
</div>
{% endif %}
{% endblock %}

{% include '_footer.html' %}