{% extends 'layout.html' %}
{% load static %}
{% load humanize %}
{% include '_header.html' %}
{% block sub_header %}
  <section class="car-bg">
    <h1 class="logo">Dream's garage</h1>
</section>

  <div class="ultimos-artigos">
    <h2>Ultimos artigos:</h2>
  </div>
  
  <main class="corpo">
      {% for post in posts %}
        {% if post.published %}
          {% if forloop.counter <= 4 %}
            <div class="artigo">
              <div>
              <h2><a href="/post/{{post.pk}}">{{ post.title }}</a></h2>
              <a href="/post/{{post.pk}}"><img src="{{post.thumb.url}}"></a>
              {{ post.summary | safe }}
              <br>
              <p>{{post.created_at | naturalday}}</p>
              <br>
              <p class="ler-mais"><a href="/post/{{post.pk}}">Ler mais...</a></p>
              </div>
            </div>
            {% endif %}
          {% endif %}
      {% endfor %}
      <h3 class="see-all-articles"><a href="{% url 'artigos' %}">VER TODOS OS ARTIGOS</a></h3>
  </main>
  <section>
    <div class="mercadorias">
      {% for produto in produtos %}
        <div class="produtos">
          <h2>{{produto.nome_produto}}</h2>
          <img class="img-produto" src="{{produto.imagem_produto.url}}" alt="">
          <p>${{produto.preco_produto}}</p>
        </div>
      {% endfor %}
    </div>
  </section> 
  {% include '_footer.html' %}
  
{% endblock %}

