{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="ultimos-artigos">
    <h2>Todos os produtos:</h2>
</div>
{% include "_busca.html" %}

<div class="corpo">
{% for prod in produtos %}
    <div class="artigo">
        <div>
            <h2>{{prod.nome_produto }}</a></h2>
            <img src="{{prod.imagem_produto.url}}"></a>
            <br>
            <p class="preco">R$ {{prod.preco_produto}}</p>
            <br>
            <p>{{prod.descr_produto}}</p>
            <button class="comprar">Comprar</button>
            </div>
    </div>

{% endfor %}
{% if not produtos %}
    <div class="busca-erro">
        <h2 class="ultimos-artigos">Nenhum produto encontrado</h2>
        <img src="{% static 'blog/img/erro_busca.png' %}" alt="">
    </div>
{% endif %}
</div>

{% endblock content %}


