{% block title %} {{posts.title}} | {% endblock title %}


    {% block content%}
    {% if posts.published %}
    <article class="postagem">
        
        
        <div class="post-content">
            <h1 class="titulo">{{posts.title}}</h1>

            <h2 class="resumo">{{posts.summary | safe}}</h2>
            <p class="escrito-por">Escrito por: {{posts.author}}</p>
            <p class="publicado">Publicado em: {{posts.created_at}}</p>
            {{posts.content | safe}}
        </div>
        
    </article>
    <div class="comentarios">
        {% if comentarios %}
            {% for coment in comentarios  %}
                <h3>Comentarios ({{coment.count}})</h3>
                <p>Nome: {{coment.nome_comentario}}</p>
                <p>Data: {{coment.data_comentario}}</p>
                <p>{{coment.comentario}}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% else %}

    <section class="nao-disponivel">
        <aside>
            <h2>⚠ Houve algum erro... ⚠</h2>
            <p>Este artigo não está disponivel no momento...</p>
        </aside>
    </section>
    {% endif %}
{% endblock  %}


