{% extends 'layout.html' %}
{% include '_header.html' %}
{% block title %} {{posts.title}} | {% endblock title %}

    {% block content%}
    {% if posts.published %}
        <article class="postagem">
            
            
            <div class="post-content">
                <h1 class="titulo">{{posts.title}}</h1>

                <h2 class="resumo">{{posts.summary | safe}}</h2>
                <p class="escrito-por">Escrito por: {{posts.author}}</p>
                <p class="publicado">Publicado em: {{posts.created_at}}</p>
                {{posts.content | safe}}
            </div>
            
        </article>
        {% if comentarios %}
        <aside class="comentarios">
            <div class="comentarios-content">
                
                <h3>{{comentarios.count}} Comentario(s)</h3>
                <div class="coment-usuario">    
                {% for comentario in comentarios %}
                        <p class="data-coment">{{comentario.data_comentario}}</p>
                        <p><strong  class="nome-coment">{{comentario.nome_comentario}}</strong> comentou:</p>
                        
                        <p class="corpo-coment"> {{comentario.comentario}} </p> 
                    {% endfor %}
                </div>
            </div>
        </aside>
        {% endif %}
    {% else %}
        <section class="nao-disponivel">
            <aside>
                <h2>⚠ Houve algum erro... ⚠</h2>
                <p>Este artigo não está disponivel no momento...</p>
            </aside>
        </section>
    {% endif %}
{% endblock  %}


